*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --violet_900: #110C2F;
  --viole__800: #251F4D;
  --violet_600: #3E376B;
  --violet_gray_300: #A7A1C7;
  --white: #FCFEFF;
  --blue: #1E9DF9;
  --cyan: #00FFFF;
  --red: #F91E45;
  --yellow: #F9871E;
  --rouded: 5px;
}

html,
body {
  font-size: 100%;
}

html,
button,
input,
textarea {
  font-family: 'Poppins', sans-serif;
}

input,
button,
textarea {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  object-fit: cover;
  object-position: center;
  display: block;
}